@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  body {
    @apply font-sans antialiased;
    overflow-y: scroll;
  }

  .font-mono {
    font-variant-numeric: tabular-nums;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-muted/30 rounded-pill hover:bg-muted/50;
}